{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <!-- <form id="signup" action="" method="POST">
        <h1 class="text-center">Sign Up</h1>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control mb-2" placeholder="Enter Email" oninput="checkEmail(this.value)">
            <p id="emailMessage"></p>
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name">
        </div>

        <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" id="password1" name="password1" class="form-control" placeholder="Enter Password">
        </div>

        <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input type="text" id="password2" name="password2" class="form-control" placeholder="Confirm Password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form> -->



          <div class="row d-flex justify-content-center align-items-center mt-1 p-3">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-1">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
      
                      <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-2">Sign up</p>
      
                      <form class="mx-1 mx-md-4" id="signup" action="" method="POST">
      
                        <div class="d-flex flex-row align-items-center mb-2">
                          <i class="fa fa-envelope fa-lg me-3 fa-fw"></i>
                          <div data-mdb-input-init class="form-outline flex-fill mb-0">
                            <label class="form-label" for="email" >Email</label>
                            <input type="email" id="email" class="form-control" name="email" oninput="checkEmail(this.value)"/>
                            
                            <p id="emailMessage"></p>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-2">
                          <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                          <div data-mdb-input-init class="form-outline flex-fill mb-0">
                            <label class="form-label" for="name">Name</label>
                            <input type="text" id="name" class="form-control" name="name" />
                            
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-2">
                          <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
                          <div data-mdb-input-init class="form-outline flex-fill mb-0">
                            <label class="form-label" for="password1">Password</label>
                            <input type="password" id="password1" class="form-control" name="password1"/>
                            
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-2">
                          <i class="fa fa-key fa-lg me-3 fa-fw"></i>
                          <div data-mdb-input-init class="form-outline flex-fill mb-0">
                            <label class="form-label" for="password2">Repeat your password</label>
                            <input type="password" id="password2" class="form-control" name="password2"/>
                            
                          </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-2">
                          <i class="fa fa-confirm fa-lg me-3 fa-fw"></i>
                          <div data-mdb-input-init class="form-outline flex-fill mb-0">
                            <label class="form-label">Are you Admin</label>
                            <input type="radio"  name="admin" value="True"/>Yes
                            <input type="radio" name="admin" value="False"/>No
                            
                          </div>
                        </div>
      
                        <div class="form-check d-flex justify-content-center mb-3">
                          <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                          <label class="form-check-label" for="form2Example3">
                            I agree all statements in <a href="#!">Terms of service</a>
                          </label>
                        </div>
      
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button  type="submit"  class="btn btn-primary btn-lg">Submit</button>
                        </div>
      
                      </form>
      
                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
      
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                        class="img-fluid" alt="Sample image">
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
  






    <script>
        let emailExists = false;
        function checkEmail(email){
            let emailmessage = document.getElementById("emailMessage")
            if(email === ""){
                emailmessage.innerHTML = "Please enter email";
                emailmessage.className = "text-danger";
            }
            else{
                let xhr = new XMLHttpRequest()
                xhr.open("POST", "{{url_for('auth.checkemail')}}", true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

                xhr.onload = function(){
                    let emailmessage = document.getElementById("emailMessage")
                        if(xhr.status === 200){
                            const response = JSON.parse(xhr.responseText);
                            emailmessage.innerHTML = response.message;

                            if(response.exists){
                                emailmessage.className = "text-danger";
                                emailExists = true;
                            }else if(!response.exists){
                                emailmessage.className = "text-success";
                                emailExists = false
                            }else{
                                emailmessage.className = "text-success";
                            }
                        }else {
                            console.error(`Error: ${xhr.status}`);
                        }    
                }
                xhr.send(JSON.stringify({email: email}));
            }
        }
        document.getElementById("signup").addEventListener("submit", (event)=>{
            if(emailExists){
                event.preventDefault();
                alert("Email already exist");
                
            }
        })
    </script>

{% endblock %}